In [7]:
import pandas as pd
import numpy as np
import seaborn as sb
import statsmodels.api as sm

In [9]:
energy_data = pd.read_csv("energydata_complete.csv")
energy_data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:
X = data['T6']  # predictor variable (outside temperature)
y = data['T2']  # response variable (living room temperature)
X = sm.add_constant(X)  # add an intercept term to the model
model = sm.OLS(y, X).fit()

# compute the R-squared value
rsquared = model.rsquared
print('R-squared: {:.2f}'.format(rsquared))

R-squared: 0.64

In [37]:
energy_data.drop('date' , axis = 1, inplace = True)

In [38]:
energy_data.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [39]:
energy_data.drop('lights' , axis = 1, inplace = True)

In [40]:
energy_data.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [42]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(energy_data), columns = energy_data.columns)
xters_df = normalised_df.drop(columns = ['Appliances'])
target_variable = normalised_df['Appliances']

In [45]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(xters_df, target_variable, test_size = 0.3, random_state =42)

In [50]:
from sklearn.linear_model import LinearRegression as LR
linear_model = LR()
linear_model.fit(x_train,y_train)
outcomes = linear_model.predict(x_test)

In [51]:
from sklearn.metrics import mean_absolute_error #getting the mean absolute error
the_MAE = mean_absolute_error(y_test,outcomes)
round(the_MAE,2)

0.05

In [52]:
rss = np.sum(np.square(y_test - outcomes)) # TO GET THE RESIDUAL SUM OF SQUARES
round(rss, 2)

45.35

In [54]:
#now to find the root mean square error

from sklearn.metrics import mean_squared_error  
rmse = np.sqrt(mean_squared_error(y_test,outcomes))
round(rmse,3)

0.088

In [58]:
from sklearn.linear_model import Ridge as R
Rregression = R(alpha=0.4)
Rregression.fit(x_train, y_train)

Ridge(alpha=0.4)

In [61]:
from sklearn.linear_model import Lasso as L
Lregression = Lasso(alpha=0.001)
Lregression.fit(x_train, y_train)

Lasso(alpha=0.001)

In [72]:
def get_weights_df(model, feat, col_name):
    weights = pd.Series(model.coef_, feat.columns).sort_values()  #to return the weight of every feature
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

In [73]:
linear_model_weights = get_weights_df(linear_model, x_train, 'L_Model_Weight')
ridge_weights_df = get_weights_df(Rregression, x_train, 'Rigde_Weight')
lasso_weights_df = get_weights_df(Lregression, x_train, 'lasso_weight')

weight_df = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
weight_df = pd.merge(final_weights, lasso_weights_df, on='Features')

In [75]:
weight_df

,Features,Linear_Model_Weight,Rigde_Weight,lasso_weight_x,lasso_weight_y
0,RH_2,-0.456698,-0.411071,-0.411071,-0.000000
1,T_out,-0.321860,-0.262172,-0.262172,0.000000
2,T2,-0.236178,-0.201397,-0.201397,0.000000
3,T9,-0.189941,-0.188916,-0.188916,-0.000000
4,RH_8,-0.157595,-0.156830,-0.156830,-0.000110
5,RH_out,-0.077671,-0.054724,-0.054724,-0.049557
6,RH_7,-0.044614,-0.045977,-0.045977,-0.000000
7,RH_9,-0.039800,-0.041367,-0.041367,-0.000000
8,T5,-0.015657,-0.019853,-0.019853,-0.000000
9,T1,-0.003281,-0.018406,-0.018406,0.000000
10,rv1,0.000770,0.000748,0.000748,-0.000000
11,rv2,0.000770,0.000748,0.000748,-0.000000
12,Press_mm_hg,0.006839,0.006584,0.006584,-0.000000
13,T7,0.010319,0.010098,0.010098,-0.000000
14,Visibility,0.012307,0.012076,0.012076,0.000000
15,RH_5,0.016006,0.016152,0.016152,0.000000
16,RH_4,0.026386,0.024579,0.024579,0.000000
17,T4,0.028981,0.027384,0.027384,-0.000000
18,Windspeed,0.029183,0.030268,0.030268,0.002912
19,RH_6,0.038049,0.035519,0.035519,-0.000000
20,RH_3,0.096048,0.095135,0.095135,0.000000
21,T8,0.101995,0.101028,0.101028,0.000000
22,Tdewpoint,0.117758,0.083128,0.083128,0.000000
23,T6,0.236425,0.217292,0.217292,0.000000
24,T3,0.290627,0.288087,0.288087,0.000000
25,RH_1,0.553547,0.519525,0.519525,0.017880